* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ededed;
}

body {
  min-height: 100vh;
  background-color: #171717;
  scroll-behavior: smooth;
}

.head1 {
  text-align: center;
  color: rgb(50, 194, 50);
  font-size: 3.5rem;
  margin: 1rem;
  text-shadow: 4px 4px 2px black;
}

main {
  display: flex;
  flex-direction: column;
}

.sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 80%;
  margin: 0 auto;
}

.div1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin: 1rem; */
}

.div1 button {
  width: 100%;
  margin: 0.5rem;
  color: black;
  font-size: 1rem;
  padding: 0.5rem;
  border: 0;
  font-weight: 900;
  border-radius: 0.2rem;
}

#addbtn {
  background-color: rgb(3, 92, 3);
  color: whitesmoke;
  transition-duration: 0.4s;
}

#addbtn:hover {
  background-color: rgb(245, 245, 245);
  color: rgb(3, 92, 3);
  letter-spacing: 0.1rem;
}
#dltbtn {
  background-color: #da0037;
  color: whitesmoke;
}

#dltbtn:hover {
  color: #da0037;
  background-color: white;
  transition-duration: 0.4s;
  letter-spacing: 0.1rem;
}

.div2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #444444;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem 0 0.5rem 0;
  /* box-shadow: 5px 5px 0px black; */
}

.div2:hover {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 0px black;
}
.div2:focus {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 0px black;
}
.div3:focus {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 0px black;
}
.div4:focus {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 0px black;
}
.div3:hover {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 0px black;
}
.div4:hover {
  transition-duration: 0.5s;
  box-shadow: 5px 5px 0px black;
}

.sec1 label {
  margin-bottom: 0.5rem;
}

.sec input {
  width: 100%;
}

#inpdate {
  font-size: 1rem;
  color: black;
}

input {
  color: black;
  font-size: 1rem;
  border: 4px double black;
  padding: 0.5rem;
  width: 100%;
}

input:hover {
  background-color: #171717;
  color: white;
  border: 4px double whitesmoke;
  transition-duration: 0.3s;
  border-radius: 0.5rem;
}
input:focus {
  background-color: #171717;
  color: white;
  border: 4px double whitesmoke;
  transition-duration: 0.3s;
  border-radius: 0.5rem;
}

.div3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  margin-bottom: 1rem;
  background-color: #444444;
  padding: 1rem;
  border-radius: 0.5rem 0 0.5rem 0;
  /* box-shadow: 5px 5px 0px black; */
}

.div4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  background-color: #444444;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem 0 0.5rem 0;
  /* box-shadow: 5px 5px 0px black; */
}

#inpdate:hover {
  background-color: #171717;
  color: white;
  border: 4px double whitesmoke;
  transition-duration: 0.3s;
  border-radius: 0.5rem;
}
#inpdate:focus {
  background-color: #171717;
  color: white;
  border: 4px double whitesmoke;
  transition-duration: 0.3s;
  border-radius: 0.5rem;
}

table {
  border: 5px double whitesmoke;
  margin: 2rem;
  border-radius: 1rem;
  margin-bottom: 0rem;
}
.displayNone {
  display: none;
}
.displayBlock {
  display: block;
}

table th {
  /*  border:2px solid whitesmoke; */
  padding: 0 1rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

tr:nth-child(even) {
  background-color: #444444;
}

td {
  padding: 0.5rem;
}

.sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

td:hover {
  color: #da0037;
  background-color: white;
}

td:hover b {
  color: #da0037;
  background-color: white;
}

footer {
  text-align: center;
  background-color: #444444;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
}

.sec3 {
  /* padding: 5rem; */
  margin-bottom: 2rem;
  padding: 2rem;
  padding-bottom: 4rem;
}

.animate {
  border: 6px dotted white;
  animation-name: "border";
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation: border 1.5s 0.5s ease-in-out infinite;
  -webkit-animation:border 1.5s 0.5s ease-in-out infinite;
}

.sec3 div {
  background-color: rgb(228, 43, 43);
  padding: 1rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  width: 100%;
}
#ttl {
  white-space: nowrap;
}

#ttlsp {
  white-space: nowrap;
  text-align: right;
}

/* @keyframes border {
    0%{
        border:5px solid white ;
    }
    25%{
        border:5px dotted white ;

    }

    50%{
        border:5px solid white ;

    }

    75%{
        border:5px dotted white ;

    }
    100%{
        border:5px solid white ;

    }

    
} */

@keyframes border {
  0% {
    border: 6px dotted transparent;
    border-left: 6px dotted white;
  }
  25% {
    border: 6px dotted transparent;

    border-top: 6px dotted white;
    border-left: 6px dotted transparent;
  }
  50% {
    border: 6px dotted transparent;

    border-right: 6px dotted white;
    border-top: 6px dotted transparent;
  }
  75% {
    border: 6px dotted transparent;

    border-bottom: 6px dotted white;
    border-right: 6px dotted transparent;
  }
  100% {
    border: 6px dotted transparent;
    border-left: 6px dotted white;
    border-bottom: 6px dotted transparent;
  }
}

@media screen and (min-width:900px){
    .sec1{
        width:30%;
        font-size: 1.5rem;
    }

    input{
        font-size: 1.3rem;
    }
    #addbtn{
        font-size: 1.5rem;
    }
    #dltbtn{
        font-size: 1.5rem;
    }

    .sec3 div{
        width: 30%;
        margin: auto;
        font-size: 1.5rem;

    }

    table{
        font-size: 1.5rem;
    }
}
